body{
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 100vh; */
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    /* width: 100px; */
    border: none;
    text-align: left;
    padding: 25px;
    font-size: 5rem;
    background-color:  hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: gray;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color:  hsl(0, 0%, 40%);

}

button:active{
    background-color:  hsl(0, 0%, 50%);

}

.btn{
    background-color: yellow;
}

.btn:active{
    background-color: hsl(35, 100%, 65%, );
}
.btn:hover{
    background-color: hsl(35, 100%, 75%, );
}